<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-K4VZsXV8sdtP3HhTdwLA0pqO2l0aULU3+MtwkbsgtVJG9lE8eOQ8n2PwSbK/ykR15XtLO+u2wzC48DqcMMmG2Q==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/client/assets/scss/style.css">
    <title>Pasha Bank</title>

</head>

<body>
    <header>
        <section class="header d-flex align-items-center">
            <a href="./index.html"> <img class="pasha-logo" src="~/client/assets/media/img/logo_az.svg" alt="Pasha bank logo"></a>
            <ul class="header-menu">
                <li><a href="#"> Biznes üçün xidmətlər</a></li>
                <li><a href="#">Kreditlər</a></li>
                <li><a href="#">Sənədli əməliyyatlar</a></li>
                <li><a href="#">Elavə xidmətlər</a></li>
            </ul>
            <button class="onlaynBank-btn">Onlayn Bank <i class="fa-solid fa-sort-down fa-sm"></i></button>
        </section>
    </header>
    <main> 
        <section class="slider d-flex">
    
            <div class="left-arrow arrow"><i class="fas fa-arrow-circle-left"></i></div>
    
            <div class="main-slider">
    
                <div class="slider-paragraph">
    
                    <div class="slider-main-text">
    
                        <h3>Girovsuz Biznes Krediti</h3>
    
                    </div>
    
                    <div class="slider-secondary-text">
    
                        <p>12%'den bashlayan bla bla bla</p>
    
                    </div>
    
                </div>
    
                <div class="slider-button">
    
                    <button>Daha Etrafli</button>
    
                </div>
    
            </div>
    
            <div class="right-arrow arrow"><i class="fas fa-arrow-circle-right"></i></div>
    
        </section>
    
        <section class="card-section">
    
            <div class="card-section-title">
                <h4>
                    Kiçik və Orta Sahibkarliq üçün biznes
                    <br>
                    əməliyyatlarinin optimal həlli
                </h4>
            </div>
            
            <div class="cards-container d-flex">
    
                <div class="card">
                    <div class="card-body">
                      <i class="fas fa-sticky-note card-icon"></i>
                      <h5 class="card-title">5 dəqiqəyə onlayn hesab açin</h5>
                      <div class="card-about d-flex">
                        <i class="fa-solid fa-check"></i><p class="card-text">Dünyanin istənilən nöqtəsindən, 24/7 rejimində</p>
                      </div>
                      <div class="card-about d-flex">
                        <i class="fa-solid fa-check"></i><p class="card-text">Video-zəng ilə verifikasiya</p>
                      </div>
                      <a href="#" class="card-link">Daha etrafli <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>             
                
                <div class="card">
                    <div class="card-body">
                      <i class="fas fa-percent card-icon"></i>
                      <h5 class="card-title">5 dəqiqəyə onlayn hesab açin</h5>
                      <div class="card-about d-flex">
                        <i class="fa-solid fa-check"></i><p class="card-text">Dünyanin istənilən nöqtəsindən, 24/7 rejimində</p>
                      </div>
                      <div class="card-about d-flex">
                        <i class="fa-solid fa-check"></i><p class="card-text">Video-zəng ilə verifikasiya</p>
                      </div>
                      <a href="#" class="card-link">Daha etrafli <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>    
    
                <div class="card">
                    <div class="card-body">
                      <i class="fas fa-credit-card card-icon"></i>
                      <h5 class="card-title">5 dəqiqəyə onlayn hesab açin</h5>
                      <div class="card-about d-flex">
                        <i class="fa-solid fa-check"></i><p class="card-text">Dünyanin istənilən nöqtəsindən, 24/7 rejimində</p>
                      </div>
                      <div class="card-about d-flex">
                        <i class="fa-solid fa-check"></i><p class="card-text">Video-zəng ilə verifikasiya</p>
                      </div>
                      <a href="#" class="card-link">Daha etrafli <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>    
    
            </div>
    
        </section>

        <section class="main-page__bundles main-page__section aos-init aos-animate" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-10 col-md-6">
                        <h2 class="styles-h4 font-weight-normal margin-bottom-5">Ehtiyaclarınıza uyğun tarif paketi seçin və biznesinizi inkişaf etdirin.</h2>
                    </div>
                </div>
            </div>
            <div class="scrollable">
            <div class="container">
                <div class="scrollable__content bundles">
                    <div data-aos="zoom-in-up" class="bundles__item aos-init aos-animate">
                        <h5 class="margin-bottom-3">Dəstək</h5>
                        <img alt="Support bundle" class="margin-bottom-2" src="~/client/assets/media/img/rise.svg">
                        <div class="bundles__price d-flex align-items-baseline margin-bottom-1">
                            <h2>0</h2>
                            <img alt="AZN symbol" class="margin-right-1" src="~/client/assets/media/img/azn.svg">
                            <p class="body-1 color-black--disabled">
                                /aylıq
                            </p>
                        </div>
                        <p class="subtitle-2 margin-bottom-2">
                            Biznesə yeni başlayırsınız?
                        </p>
                        <ul class="list list--bullet margin-bottom-5">
                            <li>
                                Hesab açma: <span class="color-green-500">Pulsuz</span>
                            </li>
                            <li>
                                Ölkədaxili AZN ödənişlər:
                                <span class="color-green-500">0.18%</span>
                            </li>
                            <li>
                                Ölkədaxili təcili AZN ödənişlər:
                                <span class="color-green-500">0.21%</span>
                            </li>
                            <li>
                                Beynəlxalq ödənişlər:
                                <span class="color-green-500">0.35%</span>
                            </li>
                        </ul>
                        <div class="bundles__actions">
                            <button id="acc.start.info" class="btn btn--success btn--text block margin-bottom-1" data-toggle="modal" data-target="#supportModal">
                                Daha ətraflı
                            </button>
                            <a id="acc.start.apply" class="btn btn--success block text-center" href="https://pashabank.digital/login#/signup" target="_blank">
                                Hesab aç
                            </a>
                        </div>
                    </div>
                    <div data-aos="zoom-in-up" data-aos-delay="150" class="bundles__item aos-init aos-animate">
                        <h5 class="margin-bottom-3">Yüksəl</h5>
                        <img alt="Rise bundle" class="margin-bottom-2" src="~/client/assets/media/img/rise.svg">
                        <div class="bundles__price d-flex align-items-baseline margin-bottom-1">
                            <h2>40</h2>
                            <img alt="AZN symbol" class="margin-right-1" src="~/client/assets/media/img/azn.svg">
                            <p class="body-1 color-black--disabled">
                                /aylıq
                            </p>
                        </div>
                        <p class="subtitle-2 margin-bottom-2">
                            Biznesinizi inkişaf etdirmək  istəyirsiniz?
                        </p>
                        <ul class="list list--bullet margin-bottom-5">
                            <li>
                                Hesab açma: <span class="color-green-500">Pulsuz</span>
                            </li>
                            <li>
                                Ölkədaxili AZN ödənişlər:
                                <span class="color-green-500">0.12%</span>
                            </li>
                            <li>
                                Ölkədaxili təcili AZN ödənişlər:
                                <span class="color-green-500">0.15%</span>
                            </li>
                            <li>
                                Beynəlxalq ödənişlər:
                                <span class="color-green-500">0.28%</span>
                            </li>
                        </ul>
                        <div class="bundles__actions">
                            <button id="acc.rise.info" class="btn btn--success btn--text block margin-bottom-1" data-toggle="modal" data-target="#riseModal">
                                Daha ətraflı
                            </button>
                            <a id="acc.rise.apply" class="btn btn--success block text-center" href="https://pashabank.digital/login#/signup" target="_blank">
                                Hesab aç
                            </a>
                        </div>
                    </div>
                    <div data-aos="zoom-in-up" data-aos-delay="300" class="bundles__item aos-init aos-animate">
                        <h5 class="margin-bottom-3">Parla</h5>
                        <img alt="Shine bundle" class="margin-bottom-2" src="~/client/assets/media/img/rise.svg">
                        <div class="bundles__price d-flex align-items-baseline margin-bottom-1">
                            <h2>110</h2>
                            <img alt="AZN symbol" class="margin-right-1" src="~/client/assets/media/img/azn.svg">
                            <p class="body-1 color-black--disabled">
                                /aylıq
                            </p>
                        </div>
                        <p class="subtitle-2 margin-bottom-2">
                            Biznesiniz əmin addımlarla irəliləyir?
                        </p>
                        <ul class="list list--bullet margin-bottom-5">
                            <li>
                                Hesab açma: <span class="color-green-500">Pulsuz</span>
                            </li>
                            <li>
                                Ölkədaxili AZN ödənişlər:
                                <span class="color-green-500">0.11%</span>
                            </li>
                            <li>
                                Ölkədaxili təcili AZN ödənişlər:
                                <span class="color-green-500">0.14%</span>
                            </li>
                            <li>
                                Beynəlxalq ödənişlər:
                                <span class="color-green-500">0.25%</span>
                            </li>
                        </ul>
                        <div class="bundles__actions">
                            <button id="acc.shine.info" class="btn btn--success btn--text block margin-bottom-1" data-toggle="modal" data-target="#shineModal">
                                Daha ətraflı
                            </button>
                            <a id="acc.shine.apply" class="btn btn--success block text-center" href="https://pashabank.digital/login#/signup" target="_blank">
                                Hesab aç
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div></section>
    </main>
    <footer>
        <div class="footer-container d-flex">
            <div class="footer-logo footer-box">
                <img src="~/client/assets/media/img/footer_pashaLogo.svg" alt="PashaBankLogo">
            </div>
            <div class="phone-number footer-box">
                <p class="footer-main-prg">
                    *9123 / (+99 412) 496 50 00
                </p>
                <p class="footer-secondary-prg">
                    Fərdi müştərilər üçün
                </p>
            </div>
            <div class="phone-number footer-box">
                <p class="footer-main-prg">
                    *8123 / (+994 12) 496 50 04
                </p>
                <p class="footer-secondary-prg">
                    Korporativ müştərilər üçün
                </p>
            </div>
            <div class="email footer-box">
                <p class="footer-main-prg">
                    customer.care@pashabank.az
                </p>
                <p class="footer-secondary-prg">
                    E-mail
                </p>
            </div>
        </div>

        <section class="footer-nav">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <ul class="footer__nav__column">
                            <li>
                                <p class="mainListItem">
                                    Korporativ Bankçiliq
                                </p>
                            </li>
                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="footer__nav__column">
                            <li>
                                <p class="mainListItem">
                                    Kicik ve Orta Biznes
                                </p>
                            </li>
                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="footer__nav__column">
                            <li>
                                <p class="mainListItem">
                                    Ferdi Bankciliq
                                </p>
                            </li>
                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="footer__nav__column">
                            <li>
                                <p class="mainListItem">
                                    Diger
                                </p>
                            </li>
                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li>                            <li>
                                <a href="https://www.pashabank.az/corporate_cash_and_settlements/lang,az/" target="_blank">
                                    Pasha Bank
                                </a>
                            </li class="social-icons">                            <li class="d-flex">
                                <a href="https://www.chess.com/"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.chess.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.chess.com/"><i class="fab fa-linkedin"></i></a>
                                <a href="https://www.chess.com/"><i class="fab fa-youtube"></i></a>
                                <a href="https://www.chess.com/"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer_copyright">
            <div class="container">
                <div class="d-flex justify-content-between color-black--disabled footer__copyright__content">
                    <p>© 2023, PAŞA Bank</p>
                    <p>Bank Azərbaycan Respublikasi Mərkəzi Bankinin 250 sayli 28 noyabr 2007-ci il tarixli lisenziyasi əsasinda fəaliyyət göstərir.</p>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>